{% extends 'main/user.html' %}
{% load static %}
{% load dictvalues %}

{% block 'content' %}
    <form action="{% url 'updategroup' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" value="{{group.name}}" placeholder="Nom du groupe" /><br />
        <input type="url" name="discordlink" value="{{group.discordlink}}" placeholder="Lien discord" /><br />
        <input type="text" name="discordid" value="{{group.discordid}}" placeholder="ID du serveur discord" disabled="disabled" /><br />
        <input type="checkbox" name="publiclink" {% if group.publiclink %}checked="checked"{% endif %} />Rendre le lien discord public<br />
        <input type="checkbox" name="publicmembers" {% if group.publicmembers %}checked="checked"{% endif %} />Rendre la liste des membres publique<br />
        <input type="checkbox" name="publicws" {% if group.publicws %}checked="checked"{% endif %} />Rendre les WS publiques<br />
        <table class="memberstable">
            <tr><td class="memberstablehcell">Nom</td><td class="memberstablehcell">Expulsion</td></tr>
            {% for member in group.members %}
                <tr><td class="memberstablecell">{{member.name}}</td>
                    <td class="memberstablecell"><input type="submit" name="{{member.id}}_kick" value="Expulser" /></td>
                </tr>
            {% endfor %}
        </table>
        <h4>Modules de commandes</h4>
        <ul>
        {% for module in cmdmodules.keys %}
            <li><input type="checkbox" name="cmdmod_{{module}}" {% if module in groupmodules %}checked="checked"{% endif %} {% if cmdmodules|dictget:module|dictget:"__mandatory" %}disabled="disabled"{% endif %} />{{module}}</li>
        {% endfor %}
        <input type="submit" name="save" value="Enregistrer" /><br />
    </form>
{% endblock 'content' %}
